@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab');



body {
    /*background-color: #ce0606;*/
    background-color: White;
}

h1 {
    color: Black;
    /* font-family: 'Oswald', 'Futura', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    /* font-style: oblique; */
    text-align: center;
}

h2 {
    color: Black;
    /* font-family: 'Futura', sans-serif; */
    font-family: 'Roboto', serif;
    /* font-style: oblique; */
    font-weight: bold;
    text-align: center;
}

p {
    color: Black;
    /* font-family: 'Futura', sans-serif; */
    font-family: 'Roboto', serif;
    text-align: center;
    /* font-style: oblique; */
}

li {
    list-style: none;
}

.flex-container {
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.flex-item {
    color: Black;
    height: 42px;
    display: inline;
    /* font-family: 'Futura', sans-serif; */
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    vertical-align: middle;
    margin: 40px;
}

.site-header {
    background-color: inherit;
    position: absolute;
    width: 100%;
    
}
