
/* Import fonts  */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab|Futura');

body {
    background-color: #ce0606;
    margin: 0 auto;
    width: 980px;
    /* background-color: White; */
}

/* Wrap the whole site in 1080px */
.wrapper {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, p {
    color: Black;
    font-family: 'Futura', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}

/* Container for the full top header */
.site-header {
    background-color: inherit;
    font-family: 'Roboto Slab';
}

/* Style the title of the site (left part of header) */
.site-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    float: left;
    clear: left;
}

/* Class for nav links of navbar */
.site-navbar {
    background-color: inherit;
    display: flex;
    overflow: hidden;
    text-align: right;
}

/* Style the links in the navbar */
.site-navbar a {
    color: Black;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
}

/* Middle space to push flex elements to the side */
.navbar-buffer {
    margin-left: auto;
    margin-right: auto;
}

/* Wrapper for main content of page */
.site-content {
    background-color: inherit;
}
