
/* Import fonts  */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab|Futura');

body {
    /* background-color: #ce0606; */
    background-color: White;
    margin: 0 auto;
    max-width: 980px;
}

/* Wrap the whole site in 1080px */
.wrapper {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, p {
    color: Black;
    font-family: 'Futura', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 20px;
}

p:hover, h1:hover {
    color: White;
}

.img-wrapper {
    display: flex;
}

.display-img {

}

/* Style the whole navbar */
.site-navbar {
    /* Styles */
    padding-left: 16px;
    padding-right: 16px;
    background-color: inherit;
    overflow: hidden;
    text-align: right;
    color: Black;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Futura', sans-serif;
    font-style: oblique;
    vertical-align: middle;

    /* Flex properties */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.site-navbar a{
    color: inherit;
    font-family:inherit;
    text-decoration: inherit;
}

/* Style the title of the site (left part of header) */
.site-title {
    padding: 16px;
    /* font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder; */
    font-size: 30px;
    text-align: left;
    color: inherit;
}

/* Style the links in the navbar */
.navbar-item {
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    color: inherit;
}

/* Middle space to push flex elements to the side */
.navbar-buffer {
    margin-left: auto;
    margin-right: auto;
}

/* Wrapper for main content of page */
.site-content {
    background-color: inherit;
    padding: 48px;
}
